// :root{
//   --dark-body-bg-color:#000000;
//   --dark-card-bg-color:#000000d0;
//   --dark-card-color:#fff;
//   --dark-thermometer-bg-color:#fff;
//   --dark-search-bg:#7c7c7c2b;
//   --dark-search-color:#fff;
//   --light-body-bg-color:#ffffff;
//   --light-card-bg-color:#fff;
//   --light-card-color:#000000d0;
//   --light-thermometer-bg-color:#fff;
// --light-search-bg:#7c7c7c2b;
//   --light-search-color:#fff;
//   }
//   .dark{
//     --body-bg-color:var(--dark-body-bg-color);
//     --card1-bg-color:var(--dark-card-bg-color);
//     --card1-color:var(--dark-card-color);
//     --thermometer-bg-color:var(--dark-thermometer-bg-color);
//     --search-bg:var(--dark-search-bg);
//     --search-color:var(--dark-search-color);
//   }
//   .light{
//     --body-bg-color:var(--light-body-bg-color);
//   }

/****************************BODY STYLES*****************************/

@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:regular,italic,700,700italic);
$bodybg: url("https://source.unsplash.com/1600x900/?weather");
body {
    margin: 0;
    // width: 100vw; 
    overflow-x: hidden;
    // overflow: hidden;
    font-family: "Ubuntu", sans-serif;
    background: #222;
    // background-image: $bodybg;
    font-size: 120%;
}

.homePage {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: $bodybg;
    height: 100vh;
    width: 100vw;
}

.forecastPage {
    background-image: $bodybg;
    height: 100vh;
    width: 100vw;
}

body {
    -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 0.2s ease-in-out;
}


/****************************BODY STYLES END*****************************/


/****************************CENTER CARD1 STYLES*****************************/

.card1 {
    position: absolute;
    background: #000000d0;
    color: white;
    padding: 32px;
    border-radius: 30px;
    width: 80%;
    max-width: 420px;
    transition: position 0.4s ease-in-out;
    margin: 16px;
    /**********/
    backdrop-filter: blur(6px) saturate(200%);
    -webkit-backdrop-filter: blur(6px) saturate(200%);
    background-color: rgba(0, 0, 0, 0.68);
    border-radius: 18px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}


/****************************CENTER CARD1 STYLES END*****************************/


/****************************CENTER CARD2 STYLES*****************************/

.card2 {
    background: #000000d0;
    color: white;
    padding: 32px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 295px;
    height: 295px;
    // width: 490px;
    width: 80%;
    max-width: 420px;
    margin: 16px;
    transition: visibility 0.4s ease-in-out;
    visibility: hidden;

    backdrop-filter: blur(6px) saturate(200%);
    -webkit-backdrop-filter: blur(6px) saturate(200%);
    background-color: rgba(0, 0, 0, 0.68);
    border-radius: 18px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}


/****************************THERMOMETER STYLES*****************************/

.card2 .thermometer {
    // background: rgb(255, 0, 0);
    position: relative;
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    // left: 170px;
    bottom: 10px;
}

.bar {
    z-index: 1;
    position: absolute;
    background-color: #fff;
    height: 220px;
    width: 30px;
    top: 5px;
    left: 50%;
    border-radius: 25px 25px 0 0;
    transform: translateX(-50%);
}

.circle {
    background-color: #fff;
    position: absolute;
    height: 80px;
    width: 80px;
    bottom: 0;
    border-radius: 50%;
}

.circle::after {
    content: "";
    display: block;
    position: absolute;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    background-color: #ff0000;
    transform: translate(-50%, -50%);
}

.bar::after {
    content: "";
    display: block;
    height: 80%;
    width: 16px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -22px;
    border-radius: 10px 10px 0 0;
    background-color: #ff0000;
    animation: anim 2s linear infinite;
    animation-iteration-count: 2;
}

// .bar.red::after{
//   background-color: rgb(255, 0, 0);
// }
// .bar.blue::after{
//   background-color: rgb(0, 0, 255);
// }
// .bar.green::after{
//   background-color: rgb(0,255,0);
// }
.todayhigh {
    position: relative;
    top: -25%;
    left: -30%;
    margin-right: 10%;
}

.todaylow {
    position: relative;
    top: 12%;
    left: 30%;
    margin-left: 55%;
}


/****************************THERMOMETER STYLES END*****************************/

@media (max-width: 1070px) {
    .homePage {
        flex-direction: column;
    }
    .card1{
        position:sticky;
        margin-top:120px;
    }
}

// @media (max-height: 570px){
//     .card1{
//         margin-top:180px;
//     }
// }


@media (max-width:430px) {
    .todayhigh {
        margin-right: 10%;
    }
    .todaylow {
        margin-left: 55%;
    }
}


/****************************CENTER CARD2 STYLES END*****************************/


/****************************WEATHER SEARCH AREA STYLES*****************************/

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    background: #7c7c7c2b;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

input.search-bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: #fff;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px);
}

button:hover {
    background: #7c7c7c6b;
}


/****************************WEATHER SEARCH AREA STYLES END*****************************/


/****************************TEMP AREA STYLES*****************************/

h1.temp {
    margin: 0;
    margin-bottom: 0.4em;
    
}
h1.temp span:nth-of-type(2){
    color: #a8a7a7;
    cursor: pointer;
    font-size: 20px;
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}

h1.temp span:nth-of-type(2):hover {
    color:#fff;
}


/****************************TEMP AREA STYLES END*****************************/


/****************************WEATHER DESCRIPTION STYLES*****************************/

.flex {
    display: flex;
    align-items: center;
}

.description {
    text-transform: capitalize;
    margin-left: 8px;
}


/****************************WEATHER DESCRIPTION STYLES END*****************************/


/****************************WEATHER CONTAINER STYLES*****************************/

.weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
}

.weather.loading:after {
    visibility: visible;
    content: "Please Search For A Location";
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
}


/****************************WEATHER CONTAINER STYLES END*****************************/


/****************************MEDIA QUERIES*****************************/

@media (max-width: 395px) {
    .weather.loading:after {
        top: -12px;
    }
}


/****************************MEDIA QUERIES*****************************/